.books__section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 3rem;

  justify-items: center;
  
  padding-top: 2rem;
}

.book__card_skeleton {
  width: 14.3rem;
  height: 23.2rem;

  border-radius: .6rem;
}

.book__card {
  width: 14.3rem;
  height: 22rem;

  border-radius: .6rem .6rem 0 0;
  
  position: relative;
  
  transition: box-shadow .5s ease-in;
}

.book__card:hover {
  transition: box-shadow .5s ease-in;
}

.book__image {
  border-radius: .6rem .6rem 0 0;

  position: absolute;
  
  transition: opacity 1s ease-in-out;
}

.book__image:hover {
  opacity: 0;
  
  transition: 
    opacity 0.5s ease-out;
}

.book_content__card {
  margin-top: 3rem;
  padding-inline: 1rem;
  
  text-align: center;
}

.book_content__card h3 {
  padding-inline: 1rem;
  padding-block: 1rem;

  border-block: 10px double var(--neutral-gray);
}

.book_content__card h5 {
  margin-top: .8rem;

  text-align: center;
}

.book_content__card h5:last-child {
  margin-top: 0;
}

.book__read_button {
  width: 100%;

  border: none;
  border-radius: 0 0 1rem 1rem;
  
  cursor: pointer;
  
  color: var(--neutral-white);
  
  position: absolute;
  bottom: -1.6rem;
}

.book__read_button:hover {
  transition: 
    box-shadow .5s ease-in-out;
}


@media (min-width: 36.25rem) {
  .books__section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 56.25rem) {
  .books__section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 72.5rem) {
  .books__section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 106.25rem) {
  .books__section {
    grid-template-columns: repeat(5, 1fr);
  }
}
