.book__skeleton>* {
  border-radius: 1rem;
}

.book__content_skeleton>* {
  min-height: 2rem;
  
  margin: auto;

  border-radius: 1rem;
}

.book__image_skeleton {
  width: 24.25rem;
  min-width: 5rem;
  height: 37.5rem;
  
}

.book__title_skeleton {
  width: 100%;
  
  margin-bottom: 1rem;
}

.book__author_skeleton {
  width: 70%;
}

.book__summary_skeleton {
  height: 15rem;
  
  margin-bottom: 8rem;
}

.book__release_date_skeleton {
  min-width: 10%;
  max-width: 50%;
}

.book__skeleton,
.book__info {
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  padding-top: 3rem;
  
  text-align: center;
}

.book__content_skeleton,
.book__info div {
  width: 100%;
}

.book__image {
  height: fit-content;

  border-radius: 1rem;

  object-fit: contain;
}

.book__title {
  letter-spacing: .15rem;
  font-family: 'Jolly Lodger', Comfortaa, sans-serif;
}

.book__author_skeleton,
.book__author {
  margin-bottom: 6rem;
}

.book__chapters {
  width: 100%;
  height: fit-content;
}

.book__chapters h5 {
  margin-block: 4rem 2rem;

  text-align: center;
}

.book__release_date {
  margin-top: 4.5rem;
  
  text-align: center;
}

@media (min-width: 56.25rem) {
  .book__content_skeleton,
  .book__info div {
    width: 50%;
  }
}
