.chapter__title {
  padding-block: 1rem;
  padding-inline: 0;
  border-top: 1px solid var(--medium--gryffindor);
  outline: none;
  transition: 0.4s;
}

.chapter__title:hover {
  background-color: var(--medium--gryffindor);
}

.chapter__summary {
  width: 100%;
  margin: 0 auto;
  max-height: fit-content;
  padding: .25rem .5rem 1rem .5rem;
  text-indent: 1.5rem;

  transition: display 1s ease-in-out;
}

@media (min-width: 56.25rem) {
  .chapter__title {
    padding-inline: 2rem;
    padding-block: 1rem;
  }
  .chapter__summary {
    padding: .25rem 4rem 1rem 4rem;
  }
}
