.houses {
  margin-bottom: 2.4rem;
}

.houses h2 {
  margin-bottom: 1.2rem;

  padding-top: 1.5rem;
}

.houses ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;

  padding: 0;

  list-style-type: none;
}

.houses li {
  max-height: fit-content;
  
  padding-block: .4rem;
  padding-inline: 1.8rem;
  
  border-radius: .6rem;

  transition: box-shadow .3s ease-in-out;
}

.houses li:hover {
  box-shadow: 0 0 1rem .01rem var(--neutral-white);

  transition: box-shadow .3s ease-in-out;
}

.houses img {
  margin: 0 auto;

  object-fit: contain;
}

.sort_house {
  margin: auto;

  justify-items: center;

  text-align: center;
}

.sort_house div {
  display: flex;
}

.sort_house img {
  width: fit-content;
  height: fit-content;

  margin: auto;

  object-fit: contain;

  transition: display .4s ease-in-out;
}

.center {
  margin-top: 3rem;

  flex-direction: column;
}

.show {
  display: block;

  transition: display .4s ease-in-out;
}

.hidden {
  display: none;

  transition: display .4s ease-in-out;
}

.balloon {
  flex-direction: column;
  margin: auto;
}

.balloon span {
  padding-inline: 2.5rem;
  padding-block: .5rem;

  border-radius: 15px;
  
  color: var(--neutral-black);
  background-color: var(--neutral-white);
  
  transition: display .4s ease-in-out;
}

.triangle {
  width: 0; 
  height: 0; 

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 25px solid var(--neutral-white);
  
  align-self: center;
  
  transition: display .4s ease-in-out;
}

.sort_house button {
  margin-block: 2rem 4rem;
  padding-inline: 1.8rem;
  padding-block: .2rem;
  
  border: none;
  border-block: 1px solid var(--neutral-gray--light);
  
  color: var(--neutral-white);
  background-color: inherit;
  
  cursor: pointer;
}
