:root{
  /* Gryffindor Colors */
  --dark--gryffindor: #470F07;
  --medium--gryffindor: #A2592C;
  --light--gryffindor: #C43926;
  --lightest--gryffindor: #F2C226;

  /* Neutral Colors */
  --neutral-white: #FFFFFF;
}

html,
body {
  background-color: var(--dark--gryffindor);
  color: var(--neutral-white);
  font-family: Comfortaa, sans-serif;
}

.container {
  margin: auto;
  max-width: 90%;
}