html,
body {
  height: 100%;
  
  color: var(--neutral-white);
  font-family: Comfortaa, sans-serif;
}

main {
  min-height: 100%;
}

.container {
  max-width: 90%;
  
  margin: auto;
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-gray--light);
}

::-webkit-scrollbar-track {
  background-color: var(--neutral-black);
}

